<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{#if mostrarMensaje}}
<p>Mensaje: {{{mensaje}}}</p>
{{/if}}
<div>
    {{#each estudiantes as |estudiante|}}
    <p>{{estudiante.nombre}}</p>
    <ul>
        {{#each estudiante.asignaturas as |asignatura|}}
        <li>{{estudiante.nombre}} {{asignatura}}</li>
        {{else}}
        <li>No tiene asignaturas</li>
        {{/each}}
    </ul>
    {{/each}}
</div>
<div>
    {{#with autor as |aut|}}
    Escrito por {{aut.nombre}} {{aut.apellido}} y por {{apellido}}
    {{else}}
    No tiene autor
    {{/with}}
</div>