extends ../layout

block content
    h2 Lista de Estudiantes
    table.table
        thead
            tr
                th id
                th nombre
                th apellidos
                th email
                th edad
                th matricula
                th acciones
        tbody
            each estudiante in estudiantes
                tr
                    td= estudiante.id
                    td= estudiante.nombre
                    td= estudiante.apellidos
                    td= estudiante.email
                    td= estudiante.edad
                    td= estudiante.matricula
                    td
                        a.btn.btn-primary.btn-sm.mr-1(href="/estudiantes/"+estudiante.id)
                            i.fa.fa-eye
                        a.btn.btn-danger.btn-sm(href="/estudiantes/delete/"+estudiante.id, onclick="return confirm('¿Estás seguro?')")
                            i.fa.fa-trash